{% import "bootstrap/wtf.html" as wtf %}

{% block title %}PostOp Prediction{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Prediction: {% if prediction %}{{ prediction }}{% else %} N/A {% endif %}!</h1>
    <hr>
    <h2>examDescription: {% if examDescription %}{{ examDescription }}{% else %} N/A {% endif %}</h1>
    <h2>OtherHX: {% if OtherHX %}{{ OtherHX }}{% else %} N/A {% endif %}</h1>
    <h2>OtherSX: {% if OtherSX %}{{ OtherSX }}{% else %} N/A {% endif %}</h1>
    <h2>OtherSX2: {% if OtherSX2 %}{{ OtherSX2 }}{% else %} N/A {% endif %}</h1>
    <h2>indicationDescription: {% if indicationDescription %}{{ indicationDescription }}{% else %} N/A {% endif %}</h1>
</div>
{{ wtf.quick_form(form) }}
<hr>
Examples:
<table style="width:100%">
  <tr>
    <th>examDescription</th>
    <th>OtherHX</th>
    <th>OtherSX</th>
    <th>OtherSX2</th>
    <th>indicationDescription</th>
  </tr>
  <tr>
    <td>PORT CHEST 1 VIEW</td>
    <td>Other postprocedural cardiac functional disturbances following cardiac surgery [I97.190]</td>
    <td>Post Cardiothoracic Surgery</td>
    <td>Post Cardiothoracic Surgery</td>
    <td>Acquired absence of other specified parts of digestive tract</td>
  </tr>
  <tr>
    <td>PORT CHEST 1 VIEW</td>
    <td>Pneumonia [J18.9]</td>
    <td>pneumonia</td>
    <td>pneumonia</td>
    <td>Acute kidney failure unspecified</td>
  </tr>
</table>
{% endblock %}
